<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>AngularJS</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-app class="container">
	<hr>

	<div>
		<input type="text" ng-model="nom" placeholder="avec angular">
		<span>{{nom}}</span>
	</div>
	
	<div>
		<input type="text" id="textfield" placeholder="avec jQuery">
		<span id="nom1"></span>
	</div>
	<hr>
	<!-- addition entre deux nombres -->
	<div>
		<input type="number" ng-model="a" ng-init="a=0"> +
		<input type="number" ng-model="b" ng-init="b=0">
		<br> <span>Résultat : {{ a + b }}</span>
	</div>
	<hr>
	<!-- remplacement des espaces par des tirets -->
	<div>
	<input type="text" ng-model="slug" ng-init="slug='un titre avec espace'">
		{{ d = slug.split(' '); d.join('-') }}
	</div>
	<hr>
	<!-- autre exemple ... -->
	<div>
	<input type="text" ng-model="chars" ng-init="chars='AngularJS';">
		Nombre de caractères : {{ chars.length }}
	</div>

	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="web/js/test.js"></script>
</body>
</html>
